PORT=3000
JWT_SECRET=your-secret-key
DATABASE_URL=your-supabase-connection-string
FRONTEND_URL=your-fe
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-key
CLOUDINARY_API_SECRET=your-secret
BANK_CODE=your-bank-code
BANK_ACCOUNT_NUMBER=your-account-number
BANK_ACCOUNT_NAME=your-fullname
SEPAY_API_KEY=your-sepay-api-key