# ============================================
# LOCAL
# ============================================
PORT=3000
FRONTEND_URL=http://localhost:5173
SEPAY_API_KEY=your-sepay-api-key

# ============================================
# PROD
# ============================================
# PORT=3000
# FRONTEND_URL=https://your-frontend-url
# SEPAY_API_KEY=your-sepay-api-key

# ============================================
# SHARED (both local & prod)
# ============================================
DATABASE_URL=your-supabase-connection-string
JWT_SECRET=your-secret-key
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-key
CLOUDINARY_API_SECRET=your-secret
BANK_CODE=your-bank-code
BANK_ACCOUNT_NUMBER=your-account-number
BANK_ACCOUNT_NAME=your-fullname
